/ProjectwerkSerialPort/nbproject/private/
/ProjectwerkSerialPort/build/
/MqttBiometricDataService/nbproject/private/
/MqttBiometricDataService/build/
/JavaMqttChatService/build/
/JavaMqttChatService/dist/